<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3">
        <h4>Header 1</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit soluta
          ea iusto repellat.
        </p>
      </div>
      <div class="col-12 col-sm-3">
        <h4>Header 2</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit soluta
          ea iusto repellat.
        </p>
      </div>
      <div class="col-12 col-sm-3">
        <h4>Header 3</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit soluta
          ea iusto repellat.
        </p>
      </div>
      <div class="col-12 col-sm-3">
        <h4>Header 4</h4>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
    </div>
  </div>
</footer>
